version: '3.8'

services:
  web:
    build: .
    container_name: pcpick_app
    ports:
      - "8000:8000"
    volumes:
      - ./db.sqlite3:/app/db.sqlite3
    env_file:
      - .env
    restart: always