<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>PCPick - Тест подбора</title>
</head>
<body>

    <h1>Подбор конфигурации ПК</h1>

    <form method="POST">
        {% csrf_token %}
        <label>Ваш бюджет (руб):</label>
        <input type="number" name="budget" value="{{ request.POST.budget }}" required>
        <button type="submit">Собрать</button>
    </form>

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    {% if build %}
        <hr>
        <div>
            <h2>Результат сборки:</h2>
            <p>Бюджет пользователя: <b>{{ total_budget }} руб.</b></p>
            <p>Затрачено на 4 компонента: <b>{{ build.total_price }} руб.</b></p>
            <p>Остаток на БП, Корпус и SSD: <b>{{ remaining }} руб.</b></p>
        </div>
        <hr>
        <div>
            <div>
                <img src="{{ build.cpu.image_url }}" alt="CPU">
                {% if cpu_chart %}
                    <div>
                        <p><b>Динамика цены:</b></p>
                        <div style="width: 100%; max-width: 350px; border-radius: 8px; overflow: hidden; background: #121212; padding: 10px;">
                            {{ cpu_chart|safe }}
                        </div>
                    </div>
                {% else %}
                    <p>Истории цен пока недостаточно для графика</p>
                {% endif %}
                <h3>Процессор</h3>
                <p><b>{{ build.cpu.name }}</b></p>
                <p>Сокет: {{ build.cpu.socket }}</p>
                <p>Производительность: {{ build.cpu.benchmark_score }}</p>
                <p>Цена: {{ build.cpu.price }} руб.</p>
            </div>
            <hr>
            <div>
                <img src="{{ build.gpu.image_url }}" alt="GPU">
                {% if gpu_chart %}
                    <div>
                        <p><b>Динамика цены:</b></p>
                        <div style="width: 100%; max-width: 350px; border-radius: 8px; overflow: hidden; background: #121212; padding: 10px;">
                            {{ gpu_chart|safe }}
                        </div>
                    </div>
                {% else %}
                    <p>Истории цен пока недостаточно для графика</p>
                {% endif %}
                <h3>Видеокарта</h3>
                <p><b>{{ build.gpu.name }}</b></p>
                <p>PCI-E: {{ build.gpu.pcie_version }}</p>
                <p>Производительность: {{ build.gpu.benchmark_score }}</p>
                <p>Цена: {{ build.gpu.price }} руб.</p>
            </div>
            <hr>
            <div>
                <img src="{{ build.mb.image_url }}" alt="MB">
                {% if mb_chart %}
                    <div>
                        <p><b>Динамика цены:</b></p>
                        <div style="width: 100%; max-width: 350px; border-radius: 8px; overflow: hidden; background: #121212; padding: 10px;">
                            {{ mb_chart|safe }}
                        </div>
                    </div>
                {% else %}
                    <p>Истории цен пока недостаточно для графика</p>
                {% endif %}
                <h3>Материнская плата</h3>
                <p><b>{{ build.mb.name }}</b></p>
                <p>Сокет: {{ build.mb.socket }}</p>
                <p>Тип памяти: {{ build.mb.ram_type }}</p>
                <p>Слотов RAM: {{ build.mb.ram_slots }}</p>
                <p>Поддержка PCI-E: {{ build.mb.pcie_version }}</p>
                <p>Цена: {{ build.mb.price }} руб.</p>
            </div>
            <hr>
            <div>
                <img src="{{ build.ram.image_url }}" alt="RAM">
                {% if ram_chart %}
                    <div>
                        <p><b>Динамика цены:</b></p>
                        <div style="width: 100%; max-width: 350px; border-radius: 8px; overflow: hidden; background: #121212; padding: 10px;">
                            {{ ram_chart|safe }}
                        </div>
                    </div>
                {% else %}
                    <p>Истории цен пока недостаточно для графика</p>
                {% endif %}
                <h3>Оперативная память</h3>
                <p><b>{{ build.ram.name }}</b></p>
                <p>Тип: {{ build.ram.ram_type }}</p>
                <p>Объем: {{ build.ram.ram_capacity }} ГБ</p>
                <p>Плашек: {{ build.ram.ram_bar_count }} шт.</p>
                <p>Цена: {{ build.ram.price }} руб.</p>
            </div>
        </div>
    {% endif %}
</body>
</html>